.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body, html {
    background-color: hsl(212, 45%, 89%);
}

.wrapper {
    height: 100%;
    width: 100%;
}

.main-container {
    display: flex;
    flex-direction: column;
    border-radius: 20px;

    align-items: center;
    width: 200px;
    height: 400px;
    margin: auto;
    border: 1px solid #ccc;
    padding: 40px;
    background-color: hsl(0, 0%, 100%); 
}

.text-container{
    margin-top: auto;
    text-align: center;
    font-family: "Outfit";
}

.img-container {
    padding: 0px;
    align-items: center;
}

.img-container img {
    border-radius: 10px;
    height: 200px;
    width: 200px;
    margin-bottom: auto;
}

b {
    font-weight: 700px;
}

p {
    font-weight: 400px;
    font-size: 15px;
    color: hsl(220, 15%, 55%);
}